$Text2: #000000;
$Button: #000000;
$Secondary: #f5f5f5;

.header {
  padding: 40px 0 16px;
  background-color: #fff;
  border-bottom: 0.5px solid $Button;
  position: fixed;
  top: 58px;
  left: 0;
  right: 0;
  z-index: 999;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    &_logo {
      color: $Text2;
      font-size: 24px;
      font-weight: bold;
    }
    &__links {
      display: flex;
      align-items: center;
      gap: 40px;
      &--item {
        &:hover {
          cursor: pointer;
        }
        &-link {
          padding: 4px 0;
          border-bottom: 1px solid transparent;
          transition: all 0.2s ease;
          &:hover {
            color: $Button;
            border-bottom: 1px solid $Text2;
          }
        }
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 24px;
      &--btns {
        display: flex;
        align-items: center;
        gap: 16px;
        .header-btn {
          padding: 20px !important;
          &:focus {
            background: #db4444 !important;
            color: #f4f4f4;
          }
        }
      }
    }
    &--search {
      min-width: 243px;
    }
  }
}

.active {
  color: $Button;
  border-bottom: 1px solid $Text2;
}

.logout-icon {
  font-size: 22px !important;
}

.custom-dropdown-panel {
  .ant-dropdown-menu {
    background-color: hwb(0 0% 100% / 0.743);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 10px;

    .ant-dropdown-menu-item {
      padding: 12px 16px;
      font-size: 14px;
      color: #fff;
    }

    .logout-icon {
      color: #333;
    }

    .ant-dropdown-menu-item:hover {
      background-color: #8c8a8a;
    }
  }
  .ant-dropdown-menu-item-selected {
    background-color: #DB4444 !important; // Active background color
    color: #fff !important;               // Active text color
    font-weight: bold;                    // Make active item bold
  }
}

