$Secondary2: #DB4444;

.section_title {
    display: flex;
    align-items: center;
    gap: 16px;
    &--left_box{
        background: $Secondary2;
        width: 20px;
        height: 40px;
        border-radius: 4px;

    }
    &--title{
        color: $Secondary2;
        font-size: 16px;
        font-weight: bolder;
    }
} 