$Button2: #db4444;

.trans-button {
  background-color: transparent;
  color: #000;
  padding: 16px 48px;
  border: 1px solid #000;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  &:active {
    box-shadow: none;
  }
}
