$Text2: #000000;
$Secondary: #f5f5f5;
$Red: #db4444;

.categories {
  padding: 80px 0 70px;
  border-bottom: 0.5px solid #000000;
  &--wrapper {
    &--content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;
      &--arrows {
        display: flex;
        gap: 8px;
        .custom-arrow {
          background-color: $Secondary;
          width: 46px;
          height: 46px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease;
          margin-bottom: 14px;
          &:hover {
            background-color: $Red;
            color: #fff;
            cursor: pointer;
          }
          &:active {
            border: 1px solid $Red;
            background-color: #fff;
            color: $Red;
          }
        }
      }
    }

    &--cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }

    &__products {
      margin-top: 40px;
      margin-bottom: 60px;
      display: flex;
      flex-wrap: wrap;
    }
    &__btn {
      margin-bottom: 60px;
    }
  }
}
