$Button2:  #DB4444;


.my-button {
    background-color: $Button2;
    color: white;
    padding: 16px 48px;
    border-radius: 4px;
    font-weight: 600;
    &:hover{
        background-color: darken($Button2, 10%);
    }
    &:active{
        background-color: darken($Button2, 20%);
    }
}