.place_order {
  margin-top: 103px;
  &--content {
    width: 425px;
    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;
      color: #000;
      margin-bottom: 32px;
      &--img {
        display: flex;
        gap: 26px;
        align-items: center;
      }
    }
    &--total {
      &--item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #aca8a8;
        padding: 16px 0;
        color: #000;
        &:last-child {
          border-bottom: none;
        }
        span {
          display: inline-block;
        }
      }
    }
    &--bank {
      margin-top: 34px;
      &--wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        &--item {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      &--images {
        display: flex;
        gap: 8px;
      }
    }
  }
  &--input {
    width: 300px;
    height: 56px;
  }
}
